In [ ]:
# for loop=(finite, under our control), n number of timed
# while loop=(infinite, uncertain), kunai condition apply gare samma
#range= kati choti loop lagaune, creates  sequence of numbers  
#range(5)=0,1,2,3,4
#range (1,5)=1,2,3,4
#range(1,5,2)=1 3 
#range le integer matra support garxa

In [1]:
#for loop
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(1,5):
    print(i)

1
2
3
4

In [3]:
for i in range(1,5,2):
    print(i)

1
3

In [5]:
for i in range(5):
    print('Hello World')

Hello World
Hello World
Hello World
Hello World
Hello World

In [6]:
for i in range(5):
    print(i,'Hello World')

0 Hello World
1 Hello World
2 Hello World
3 Hello World
4 Hello World

In [7]:
for i in range(1,11):
    print(i*5)

5
10
15
20
25
30
35
40
45
50

In [8]:
x=int(input('Enter x='))
for i in range(1,11):
    print(x,"*",i,"=",i*x)

Enter x= 6

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [12]:
#kunai variable ma value add garna paryo vane initialize garnu parxa,sum ko ma use 0, multipication ma 1

#outside loop ekkaichoti ans dinxa
abc=0
for i in range(5):
    x=int(input('enter x='))
    abc=abc+x
print(abc)

enter x= 1000
enter x= 1000
enter x= 1000
enter x= 1000
enter x= 1000

5000

In [13]:
#loop vitra print garda, each loop ma k vairako cha vanera ans dinxa
abc=0 #int()
for i in range(5):
    x=int(input('enter x='))
    abc=abc+x
    print(abc)

enter x= 12

12

enter x= 12

24

enter x= 12

36

enter x= 35

71

enter x= 345

416

In [14]:
abc= " " # str()
for i in range(5):
    x=(input('enter x='))
    abc=abc+x
print(abc)

enter x= ram
enter x= sita
enter x= gita
enter x= lita
enter x= pita

 ramsitagitalitapita

In [ ]:
abc=""
for i in range(5):
    x=(input('enter x='))
    abc=abc +x "\n"
print(abc)

In [16]:
abc=""
n=int(input('enter n='))
for i in range(5):
    x=(input('enter x='))
    abc=abc +x+"\n"
print(abc)

enter n= 23
enter x= ram
enter x= shyam
enter x= hari
enter x=
enter x=

ram
shyam
hari

In [5]:
contact=""
n=int(input('enter n='))
for i in range(n):
    name=input('enter name=')
    phone=int(input('enter phone='))
    contact= contact+ name+ " "+ str(phone) +"\n"
    
print(contact)

enter n= 2
enter name= dffg
enter phone= 343434
enter name= dfgd
enter phone= 345345

dffg 343434
dfgd 345345

In [ ]:
#5! = 1*2*3*4*5

In [7]:
fac=1
n=int(input('Enter n='))
for i in range(1,n+1):
    fac= fac*i
print(fac)

Enter n= 5

120

In [12]:
fac=1
n=int(input('Enter n='))
for i in range(1,n+1):
    fac= fac*i
    print(fac)

Enter n= 5

1
2
6
24
120

In [14]:
for i in range(10):
    print(i*'o')

o
oo
ooo
oooo
ooooo
oooooo
ooooooo
oooooooo
ooooooooo

In [ ]:
n=10
for i in range(10):
    print(( n-1)*i*'o')

In [16]:

n=10
for i in range(10):
    print(( n-i)*" ",2 *(i*'o'))
for i in range(5):
    print(7*" ",5*"o")

          oo
         oooo
        oooooo
       oooooooo
      oooooooooo
     oooooooooooo
    oooooooooooooo
   oooooooooooooooo
  oooooooooooooooooo
        ooooo
        ooooo
        ooooo
        ooooo
        ooooo

In [ ]:
WAP to make billing system
name=?
price=?
quantity=?
total=? (individual ko total)

In [ ]:
bill=""
n=int(input('enter n='))
for i in range(n):
    item=input('enter item=')
    price=int(input('enter price='))
    quantity=int(input('enter quantity='))
    number=int(input('enter number='))
    total=int(quantity*number)
bill= bill+str(item)+' '+price+ ' '+ quantity+' '+number +'\n'
print(bill)

In [9]:
bill=''
n=int(input('enter n='))
for i in range(n):
    item=input('enter item=')
    price=int(input('enter price='))
    quantity=int(input('enter quantity='))
    total=price*quantity
    bill= bill+str(item)+' '+str(price)+ ' '+str(quantity)+' '+str(total)+'\n'

print(bill)

enter n= 2
enter item= coke
enter price= 2
enter quantity= 2
enter item= lays
enter price= 2
enter quantity= 2

coke 2 2 4
lays 2 2 4

In [5]:
bill = ''
n = int(input('Enter n= '))
all_total=0
for i in range(n):
    item = input('Enter item= ')
    price = int(input('Enter price= '))
    quantity = int(input('Enter quantity= '))
    total = price * quantity
    bill = bill +'    ' str(item) + ' ' + str(price) + ' ' + str(quantity) + ' ' + str(total) + '\n'
    all_total=all_total+total
print(".........Prashiksha SuperMart..........")  
print(bill)
print(all_total)
print('######Thankyou for shopping with us######')

Enter n=  2
Enter item=  coke
Enter price=  25
Enter quantity=  2
Enter item=  lays
Enter price=  40
Enter quantity=  3

.........Prashiksha SuperMart..........
coke 25 2 50
lays 40 3 120

170
######Thankyou for shopping with us######