In [ ]:
#python collection
#list
#tuple
#dict
#set

In [ ]:
# #list
# ordered
# mutable
# multiple and duplicate data
# indexing

In [ ]:
a=list()
a=[]

In [1]:
a=['Apple','Ball', 'cat','dog']
b=[0,1,2,3,4,5]
print(type(a))
print(type(b))

<class 'list'>
<class 'list'>

In [4]:
a=['apple', 'ball', 'cat', 'dog','fish', 'apple']
print(a[0])
print(a[0:5])
print(a[0:5:2])

apple
['apple', 'ball', 'cat', 'dog', 'fish']
['apple', 'cat', 'fish']

In [5]:
#concat
a=[1,2,3,4,5]
b=[6,7,8,9,10]
c=a+b
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
#enlargement(multiply)
a=[1,2,3,4,5]
print(a*2)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [ ]:
# append()=list create garne, adds in the list of variabble
# insert()
# insert()

In [7]:
a=[]
a.append('apple')
a.append('ball')
print(a)

['apple', 'ball']

In [11]:
l=[]
n=int(input('eneter n='))
for i in range(n):
    x=int(input('enter x='))
    l.append(x)
print(l)

eneter n= 5
enter x= 1
enter x= 2
enter x= 3
enter x= 4
enter x= 5

[1, 2, 3, 4, 5]

In [16]:
print('Min value=',min(l))
print('max value=',max(l))
print('sum value=', sum(l))
l.sort()
print(l)
l.reverse()
print(l)

Min value= 1
max value= 5
sum value= 15
[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]

In [21]:
l=[]
n=int(input('eneter n='))
for i in range(n):
    x=input('enter x=')
    l.append(x)

eneter n= 5
enter x= ram
enter x= shyam
enter x= hariista
enter x= sita
enter x= gita

In [22]:
l.sort()
print(l)

['gita', 'hariista', 'ram', 'shyam', 'sita']

In [1]:
#insert()
a=['gita', 'hari', 'ram', 'shyam', 'sita']
a.insert(1,'harry')

In [2]:
a=['gita', 'hari', 'ram', 'shyam', 'sita']
a.insert(1,'harry')
a

['gita', 'harry', 'hari', 'ram', 'shyam', 'sita']

In [3]:
a=['gita', 'hari', 'ram', 'shyam', 'sita']
b=[1,2,3,4,5]
a.extend(b)
print(a)

['gita', 'hari', 'ram', 'shyam', 'sita', 1, 2, 3, 4, 5]

In [5]:
#update
a=['gita', 'hari', 'ram', 'shyam', 'sita']
a[0]='Nita'
a

['Nita', 'hari', 'ram', 'shyam', 'sita']

In [6]:
a=['gita', 'hari', 'ram', 'shyam', 'sita']
a[0:2]=['jack','jonh']
#(value update hunxa, different index huda,replace garxa value)
a

['jack', 'jonh', 'ram', 'shyam', 'sita']

In [9]:
# insert multiple values inside certain index
#insert values in midde
a=['gita', 'hari', 'ram', 'shyam', 'sita']
a[0:0]=['steve', 'bill']
#0 ko place ma values add garyo., same index diyo vane add garxa(value add)
a[1:1]=['cat','dog']
a

['steve', 'cat', 'dog', 'bill', 'gita', 'hari', 'ram', 'shyam', 'sita']

In [15]:
#for delete del remove() pop()
a=['gita','harry','hari','ram','shyam']
del a[0]
a

['harry', 'hari', 'ram', 'shyam']

In [16]:
a=['gita','harry','hari','ram','shyam']
del a[0:1]
a

['harry', 'hari', 'ram', 'shyam']

In [17]:
a=['gita','harry','hari','ram','shyam']
del a[0:2]
a

['hari', 'ram', 'shyam']

In [18]:
#remove le euta variable matra remove garna milxa
a=['gita','harry','hari','ram','shyam']
a.remove('gita')
a

['harry', 'hari', 'ram', 'shyam']

In [21]:
#pop=pop le value lai move garna sakxa
a=['gita','harry','hari','ram','shyam']
b=a.pop(1)
print(a)
print(b)

['gita', 'hari', 'ram', 'shyam']
harry

In [28]:
a=['gita','harry','hari','ram','shyam']
for i in a:
    print(i)

gita
harry
hari
ram
shyam

In [32]:
a= ['gita','harry','hari','ram','shyam']
l= len(a)
l

5

In [34]:
i=0
a= ['gita','harry','hari','ram','shyam']
l= len(a)
while i<l:
    print(a[i])
    i=i+1

gita
harry
hari
ram
shyam

In [35]:
#remove multiple values
a= ['gita','harry','hari','ram','shyam','ram']
a.remove('ram')
a

['gita', 'harry', 'hari', 'shyam', 'ram']

In [36]:
i=3,6
a= ['gita','harry','hari','ram','shyam','ram']
del a[3]
#del command sequence ma xa vane matra delete garne, other wise euta delete garepaxi index change hunxa, del le one at a time matra remove garna milxa

In [37]:
#remove multiple values
a= ['gita','harry','hari','ram','shyam','ram']
c=a.count('ram')
for i in range(c):
    a.remove('ram')
print(a)

['gita', 'harry', 'hari', 'shyam']

In [42]:
#value search 
a= ['gita','harry','hari','ram','shyam','ram']
if 'ram' in a:
    print('chaaa',a.count('ram'))
else:
    print('chainaaaa')

chaaa 2

In [43]:
#kun kun index ma variable cha vanera 
a= ['gita','harry','hari','ram','shyam','ram']
a.index('ram')

3

In [46]:
a= ['gita','harry','hari','ram','shyam','ram']
l=len(a)
for i in range(l):
    if a[i]=='ram':
        print(i)

3
5

In [1]:
 #kunai pani index ma aako variable case insensisite hunxa
a= ['gita','harry','hari','ram','shyam','ram']
name=input('enter name=')
l=len(a)
for i in range(l):
    if a[i].upper()== name.upper(): 
        print(i)

enter name= ram

3
5

In [4]:
#remove & search garda case insensitive banaune
#value search 
a= [gita','hary','hari','ram','shyam','ram']
for i in a:
if a[i].lower()= name.lower():
   print('chaaa',a.count('ram'))
else:
print('chaina')

SyntaxError: unterminated string literal (detected at line 3) (915703292.py, line 3)