In [ ]:
tuple
-indexing
-multiple and Duplicate data
-ordered
-immutable

In [2]:
t=tuple()
a=(1,2,3,4,5,6,7,8)
b=('apple','ball','cat')
print(type(a))
print(type(b))

<class 'tuple'>
<class 'tuple'>

In [5]:
t=('apple')
print(type(t))
#single value matra rakhda string hunxa
t=('apple',)
#single value rakhda comma(,) dina parxa to make tuple
type(t)

<class 'str'>

tuple

In [6]:
b=('apple','ball','cat')
print(b[0])
print(b[0:2])

apple
('apple', 'ball')

In [ ]:
# No append(), insert(), extend()
# no update
# no delete
# no sort()

In [7]:
a=(1,2,3,4,5)
b=(6,7,8,9,0)
c=a+b
c

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [8]:
a=(1,2,3,4,5)
print(a*2)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [11]:
#concatination in tuple
t=()
n=int(input('enter n='))
for i in range(n):
    x=int(input('enter x='))
    t=t+(x,)
t

enter n= 2
enter x= 3
enter x= 4

(3, 4)

In [12]:
a=(2,3,4,5,6)
print(min(a))
print(max(a))
print(sum(a))

2
6
20

In [13]:
a=(1,5,7,2,3,4,5,6,3,4,6,9,23,12,34,12)
sorted(a)

[1, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 9, 12, 12, 23, 34]

In [14]:
#TUPLE TO LIST
b=('apple','ball','cat')
c=list(b)
del c[0]
b=tuple(c)
b

('ball', 'cat')

In [15]:
a=(1,2,3,4,5)
b=list(a)
b=tuple(b)
a

(1, 2, 3, 4, 5)

In [ ]:
#Tuple inside tuple

In [18]:
info=()
n=int(input('enter n='))
for i in range(n):
    name=input('enter name=')
    age=int(input('enter age='))
    add=input('enter add=')
    info=info+((name,age,add),)#(double bracket and , )
info

enter n= 2
enter name= ram
enter age= 23
enter add= sds
enter name= shyam
enter age= 21
enter add= adaf

(('ram', 23, 'sds'), ('shyam', 21, 'adaf'))

In [ ]:
#SET

In [ ]:
# -no indexing
# -multple but no duplicate data
# -unordered
# -mutable

In [ ]:
s=set()
s={}

In [20]:
s={1,2,3,4,5}
print(type(s))

<class 'set'>

In [21]:
a={'apple','ball','cat','dog'}
print(a)

{'apple', 'cat', 'dog', 'ball'}

In [22]:
a[0]

TypeError: 'set' object is not subscriptable

In [24]:
#unique data matra ralhxa, duplicate data delete gardinxa
a={'apple','ball','cat','dog','apple','fish','fish'}
a

{'apple', 'ball', 'cat', 'dog', 'fish'}

In [26]:
s={7,8,9,1,2,3,4,5}
t={7,8,9,1,2,3,4,'apple',5}
print(s)
t

{1, 2, 3, 4, 5, 7, 8, 9}

{1, 2, 3, 4, 5, 7, 8, 9, 'apple'}

In [27]:
s={}
print(type(s))
s={1}
s

<class 'dict'>

{1}

In [ ]:
s=set(s)

In [28]:
#add
s=set()
s.add('apple')
s.add('ball')
s.add('cat')
s

{'apple', 'ball', 'cat'}

In [29]:
#remove
a={'apple','ball','cat','dog','apple','fish','fish'}
a.remove('apple')
a

{'ball', 'cat', 'dog', 'fish'}

In [ ]:
a={'apple','ball','cat','dog','apple','fish','fish'}
a.remove('apple')
a

In [30]:
a={'apple','ball','cat','dog','fish'}
for i in s:
    print(i)

apple
cat
ball

In [41]:
#set for math
U={'sita', 'kamal', 'john', 'steve', 'bill', 'ram', 'kamala', 'harry', 'jack', 'satya', 'hari','abc','ads','ddsds'}
apple={'ram','hari','steve','jack','john','kamal'}
ms={'ram','bill','satya','kamala','sita','harry','kamal'}
print('beroggar=',U-apple.union(ms))
print('both in apple and ms=',apple.intersection(ms))

beroggar= {'ddsds', 'abc', 'ads'}
both in apple and ms= {'kamal', 'ram'}

In [34]:
print('when both combines=',apple.union(ms))

when both combines= {'sita', 'kamal', 'john', 'steve', 'bill', 'ram', 'kamala', 'harry', 'jack', 'satya', 'hari'}

In [35]:
print('only apple=', apple-ms)

only apple= {'jack', 'steve', 'hari', 'john'}

In [36]:
print('only ms=',ms-apple)

only ms= {'sita', 'bill', 'kamala', 'satya', 'harry'}