In [ ]:
# #dictionary
# indexing
# multiple and duplicate data or values
# ordered 
# mutable
#mapping ko kaam garxa, key le value lai denote garxa

In [2]:
d=dict()
d={}
print(type(d))

<class 'dict'>

In [5]:

#d={<key>:<value>}
#key should always be unique, but value can be repeated
d={'a':'apple','b':'ball'}
print(d['a'])
print(d['b'])
print(d)

apple
ball
{'a': 'apple', 'b': 'ball'}

In [ ]:
#mutable:changeable

In [6]:
# (+ *) doesnot exist
a={1:1,2:4,3:6,4:16}
b={'a':'apple','b':'ball'}
c=a+b
print(c)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [7]:
a={}
a['a']='apple'
a['b']='ball'
a['c']='cat'
a

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [10]:
a={}
n=int(input('enter value n='))
for i in range(n):
    name=input('enter name=')
    phone=int(input('enter phone='))
    a[name]=phone
print(a)

enter value n= 2
enter name= ram
enter phone= 98604837492
enter name= shyam
enter phone= 47569835

{'ram': 98604837492, 'shyam': 47569835}

In [11]:
a={}
a['a']='apple'
a['b']='ball'
a['c']='cat'
a

{'a': 'apple', 'b': 'ball', 'c': 'cat'}

In [12]:
a['a']='ant'
a
#key shall not be duplicated, value replace hunxa

{'a': 'ant', 'b': 'ball', 'c': 'cat'}

In [14]:
a={'ram': 98604837492, 'shyam': 47569835,'hari':9853752098}
for i in a:
    print(i)

ram
shyam
hari

In [15]:
#print value
a={'ram': 98604837492, 'shyam': 47569835,'hari':9853752098}
for i in a.values():
    print(i)

98604837492
47569835
9853752098

In [16]:
a={'ram': 98604837492, 'shyam': 47569835,'hari':9853752098}
for i in a.items():
    print(i)

('ram', 98604837492)
('shyam', 47569835)
('hari', 9853752098)

In [18]:
a={'ram': 98604837492, 'shyam': 47569835,'hari':9853752098}
a['ram']=349850984
a
a['rama']=3094503948
a

{'ram': 349850984, 'shyam': 47569835, 'hari': 9853752098, 'rama': 3094503948}

In [22]:
#concat garna, naya dictionary ma value rakhera update
a={'ram': 98604837492, 'shyam': 47569835,'hari':9853752098}
b={'sita':85730457035,'nabin':74509202}
a.update(b)
a

{'ram': 98604837492,
 'shyam': 47569835,
 'hari': 9853752098,
 'sita': 85730457035,
 'nabin': 74509202}

In [ ]:
#DELETE in dict
#del pop
#delete =key value pair duitai delete garna milxa

#pop= key ko value naya thau ma gayera save hunxa
#move gardinxa

In [23]:
a={'ram': 98604837492, 'shyam': 47569835,'hari':9853752098}
del a['ram']
a

{'shyam': 47569835, 'hari': 9853752098}

In [24]:
a={'ram': 98604837492, 'shyam': 47569835,'hari':9853752098}
b=a.pop('ram')
print(b)
a

98604837492

{'shyam': 47569835, 'hari': 9853752098}

In [26]:
#multiple values in one key
#list inside dict
a={'ram': [98604837492,8484275204], 'shyam': [47569835,658758],'hari':[9853752098,76969869869]}
a['ram']
a

{'ram': [98604837492, 8484275204],
 'shyam': [47569835, 658758],
 'hari': [9853752098, 76969869869]}

In [28]:
a={'name':['ram','shyam','hari'],
   'age':[23,45,56],
   'add':['kath','bhakt','lalitpur']}
a

{'name': ['ram', 'shyam', 'hari'],
 'age': [23, 45, 56],
 'add': ['kath', 'bhakt', 'lalitpur']}

In [29]:
# a={'ram': [98604837492,8484275204], 'shyam': [47569835,658758],'hari':[9853752098,76969869869]}
a={}
n=int(input('enter n='))
for i in range(n):
    name=input('enter name=')
    ntc=int(input('enter ntc='))
    ncell=int(input('enter ncell='))
    a[name]=[ntc,ncell]
a

enter n= 2
enter name= ram
enter ntc= 986724572
enter ncell= 980938454
enter name= shyam
enter ntc= 98654707584
enter ncell= 9802894720

{'ram': [986724572, 980938454], 'shyam': [98654707584, 9802894720]}

In [4]:
# # a={'name':['ram','shyam','hari'],
#    'age':[23,45,56],
#    'add':['kath','bhakt','lalitpur']}

a={'name':[],'age':[],'add':[]}
n=int(input('enter n='))
for i in range(n):
    name=input('enter name=')
    age=int(input('enter age='))
    add=input('enter add=')
    a['name'].append(name)
    a['age'].append(age)
    a['add'].append(add)

a

enter n= 2
enter name= ram
enter age= 23
enter add= l
enter name= shyam
enter age= 23
enter add= a;jfh

{'name': ['ram', 'shyam'], 'age': [23, 23], 'add': ['l', 'a;jfh']}

In [5]:
a={'name': ['ram', 'shyam'], 'age': [23, 23], 'add': ['l', 'a;jfh']}
print('name=',a['name'][0])
print('age=',a['age'][0])
print('add=',a['add'][0])

name= ram
age= 23
add= l

In [6]:
a={'name': ['ram', 'shyam'], 'age': [23, 23], 'add': ['l', 'a;jfh']}
a['age'][0]=33
a

{'name': ['ram', 'shyam'], 'age': [33, 23], 'add': ['l', 'a;jfh']}

In [8]:
a={'name': ['ram', 'shyam'], 'age': [23, 23], 'add': ['l', 'a;jfh']}
del a['name'][0]
del a['age'][0]
del a['add'][0]
a

{'name': ['shyam'], 'age': [23], 'add': ['a;jfh']}

In [13]:
a={'name': ['ram', 'shyam'], 'age': [23, 23], 'add': ['l', 'a;jfh']}
k=list(a.keys())
print(k)
index=int(input('enter index='))
for i in a:
    del a[i][index]
print(a)

['name', 'age', 'add']

enter index= 1

{'name': ['ram'], 'age': [23], 'add': ['l']}

In [16]:
a={'name': ['ram', 'shyam'], 'age': [23, 23], 'add': ['lalitpur', 'bhaktapur']}
index=int(input('enter index='))
for i in a:
    x=input(f'enter{i}')
    a[i][index]=x
a

enter index= 0
entername rama
enterage 34
enteradd brt

{'name': ['rama', 'shyam'], 'age': ['34', 23], 'add': ['brt', 'bhaktapur']}

In [ ]:
#dict inside list
l=[{'name':'ram','age':23,'add':'kathmandu'},
   {'name':'shyam','age':25,'add':'lalitpur'},
   {'name':'hari','age':34,'add':'bhaktapur'}

In [3]:
l=[]
n=int(input('enter n='))
for i in range(n):
    name=input('enter name=')
    age=int(input('enter age='))
    add=input('enter add=')
    d={'name':name,'age':age,'add':add}
    l.append(d)
l

enter n= 2
enter name= ram
enter age= 23
enter add= ktm
enter name= shyam
enter age= 24
enter add= bkt

[{'name': 'ram', 'age': 23, 'add': 'ktm'},
 {'name': 'shyam', 'age': 24, 'add': 'bkt'}]

In [ ]:
# WAP to update,delete, read to the program

In [ ]:
#dict inside dict
d={1:{'name':'ram','age':34,'add':'ktm'},
   2:{'name': 'rama', 'age': 23, 'add': 'pkr'},
   3:{'name': 'shyam', 'age': 24, 'add': 'bkt'}

In [2]:
info={}
n=int(input('enter n='))
for i in range(1,n+1):
    name=input('enter name=')
    age=int(input('enter age='))
    add=input('enter add=')
    info[i]={'name':name,'age':age,'add':add}
   
info

enter n= 2
enter name= rma
enter age= 23
enter add= ktm
enter name= shyam
enter age= 24
enter add= bhr

{1: {'name': 'rma', 'age': 23, 'add': 'ktm'},
 2: {'name': 'shyam', 'age': 24, 'add': 'bhr'}}

In [ ]:
# WAP to add, update,delete, read to the program